.twtSVG_part {
  position: relative;
  left: 7%;
  transform: scale(0.28);
  bottom: 175%;
}

.twtSVG_work {
  position: relative;
  left: 14%;
  transform: scale(0.45);
  bottom: -45%;
}

.twtButton_part {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgb(29, 161, 242);
  width: 268px;
  height: 50px;
  cursor: pointer;
  margin-bottom: 20px;
}

.twtButton_part:hover {
  filter: brightness(120%);
}

.twtButton_work {
  background-color: rgb(29, 161, 242);
  width: 133px;
  height: 44px;
  cursor: pointer;
  display: flex;
  position: relative;
  padding: 0;
  margin: 0;
  justify-content: center;
  align-items: center;
  float: none;
}

.twtButton_work:hover {
  filter: brightness(120%);
}

@media screen and (max-width: 960px) {
  .twtSVG_work {
    width: 120px;
    height: 120px;
    left: 4%;
    bottom: -40%;
  }

  .twtButton_work {
    width: 50%;
  }
}
